---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import Header from "../components/Header.astro";
import Portifolio from "../components/Portifolio.astro";
---

<Layout title="Isabella Oliveira - dev">
	<Header portifolio="portifólio" aboutMe="Sobre mim" contactMe="contato" />
	<Portifolio
		title="portifólio"
		seeCode="ver código"
		seeProject="ver Projeto"
		description1="Simulador de Compra e venda de ações em tempo real, feito com JavaScript e TwelveDataApi"
		description2="Blog e Landing page feitos para um projeto SFLB com Next, styled-components e DatoCMS"
	/>
	<section class="px-1/10 min-h-screen" id="about-me">
		<h2 class="text-green text-[3.125em] font-condensed italic">
			Quem sou Eu?
		</h2>
		<p class="md:text-[40px] text-3xl text-light md:leading-tight py-4">
			Eu sou Isabella Oliveira, uma desenvolvedora de software do Rio de
			Janeiro - Rj <br /><br />
			Eu amo aprender mais sobre arquitetura de software e como nós pensamos
			e falamos sobre desenvolvimento
		</p>
		<p
			class="md:text-[40px] text-3xl font-extralight text-light md:leading-tight py-4"
		>
			Atualmente eu to trabalhando com Agentes.dev para ajudar
			organizações políticas a se digitalizar e ter um contato mais direto
			com seus apoiadores
			<br />
			<br />
			Eu sou autodidata com exceção das minhas Certificações e Livros
			<br />
			<br />
			Hoje em dia eu passo boa parte do meu dia lendo sobre ciência da computação
			e trabalhando no meu projeto pessoal atual, eu também amo praticar música
			quando eu tenho tempo livre
		</p>
	</section>
	<section id="contato" class="min-h-screen px-1/10">
		<h2
			class="font-condensed md:text-[9.375rem] py-8 text-8xl text-center font-bold"
		>
			Contato
		</h2>
		<div
			class="md:grid flex flex-col max-sm:gap-y-20 gap-x-12 grid-cols-2 grid-rows-3 max-w-[90vw]"
		>
			<div class="h-fit">
				<h3 class="text-green text-[3.125rem] italic">Email</h3>
				<p class="text-3xl font-mono break-words">
					ioliveira@studentsforliberty.org
				</p>
			</div>
			<div class="h-fit row-start-2">
				<h3 class="text-green text-[3.125rem] italic">linkedIn</h3>
				<a
					class="text-3xl font-mono break-words underline decoration-2 underline-offset-4"
					target="_blank"
					rel="noopener noreferrer"
					href="https://www.linkedin.com/in/isabella-oliveira-747804201/"
				>
					Isabella Oliveira
				</a>
			</div>
			<div class="h-fit row-start-3">
				<h3 class="text-green text-[3.125rem] italic">Telefone</h3>
				<p class="text-3xl font-mono break-words">21 97282-5450</p>
			</div>
			<div class="h-fit">
				<h3 class="text-green text-[3.125rem] italic">WhatsApp</h3>
				<p class="text-3xl font-mono break-words">
					Você pode me enviar uma mensagem lendo ou clicando nesse
					QR-code
				</p>
			</div>
			<a
				class="row-span-2 my-auto min-h-fit h-64 mb-20"
				href="https://wa.me/5521972825450?text=Ol%C3%A1,%20Isabella!%20Est%C3%A1%20dispon%C3%ADvel?%20"
				target="_blank"
				rel="noopener noreferrer"
				><img
					src="/OlaBella.png"
					alt="QR-code"
					width="256"
					height="256"
				/>
			</a>
		</div>
	</section>
</Layout>
