---
interface Props {
    title: string;
    Telefone: string;
    wppExplanation: string;
}

const { title, Telefone, wppExplanation } = Astro.props;
---

<section id="contact-me" class="min-h-screen px-1/10">
    <h2
        class="font-condensed md:text-8xl pt-8 text-8xl mb-24 lg:mb-40 font-bold"
    >
        {title}
    </h2>
    <div
        class="lg:grid flex flex-col gap-y-12 lg:gap-y-20 gap-x-12 grid-cols-2 grid-rows-3 max-w-[90vw] pb-8"
    >
        <div class="h-fit">
            <h3
                class="text-green text-3xl md:text-4xl lg:text-5xl italic font-condensed"
            >
                Email
            </h3>
            <p class="text-xl md:text-2xl lg:text-3xl font-mono break-words">
                ioliveira@studentsforliberty.org
            </p>
        </div>
        <div class="h-fit row-start-2">
            <h3 class="text-green text-3xl lg:text-5xl italic font-condensed">
                LinkedIn
            </h3>
            <a
                class="text-xl md:text-2xl lg:text-3xl font-mono break-words underline decoration-2 underline-offset-4"
                target="_blank"
                rel="noopener noreferrer"
                href="https://www.linkedin.com/in/isabella-oliveira-747804201/"
            >
                Isabella Oliveira
            </a>
        </div>
        <div class="h-fit row-start-3">
            <h3
                class="text-green text-3xl md:text-4xl lg:text-5xl italic font-condensed capitalize"
            >
                {Telefone}
            </h3>
            <p class="text-xl md:text-2xl lg:text-3xl font-mono break-words">
                +55 21 97282-5450
            </p>
        </div>
        <div class="h-full row-span-3 flex flex-col">
            <h3
                class="text-green text-3xl md:text-4xl lg:text-5xl italic font-condensed"
            >
                WhatsApp
            </h3>
            <p
                class="text-xl md:text-2xl max-w-lg lg:text-3xl font-mono break-words mt-5 mb-10"
            >
                {wppExplanation}
            </p>
            <a
                href="https://wa.me/5521972825450?text=Ol%C3%A1,%20Isabella!%20Est%C3%A1%20dispon%C3%ADvel?%20"
                target="_blank"
                rel="noopener noreferrer"
                ><img
                    src="/OlaBella.png"
                    alt="QR-code"
                    width="256"
                    height="256"
                />
            </a>
        </div>
    </div>
</section>
