---
import LiLink from "./liLink.astro";

interface Props {
	portifolio: string;
	aboutMe: string;
	contactMe: string;
}

const { aboutMe, portifolio, contactMe } = Astro.props;
---

<header class="flex flex-col gap-h-screen/4 min-h-screen px-1/10 pt-14">
	<h1
		class="md:text-[9.375rem] text-8xl font-bold font-condensed md-leading-[125px]"
	>
		Isabella Oliveira <br />
		<span
			class="italic md:text-[6.875rem] text-6xl tracking-[-0.02em] font-thin font-roboto"
			>Software Developer</span
		>
	</h1>
	<ul class="flex flex-col md:gap-3.75 gap-6">
		<LiLink href="#portifolio" title={portifolio} />
		<LiLink href="#about-me" title={aboutMe} />
		<LiLink href="#contato" title={contactMe} />
	</ul>
</header>
