---
import LiLink from "./liLink.astro";

interface Props {
	portifolio: string;
	aboutMe: string;
	contactMe: string;
}

const { aboutMe, portifolio, contactMe } = Astro.props;
---

<header
	class="flex flex-col justify-between min-h-screen max-sm:min-h-[90vh] max-sm:mb-[10vh] px-1/10 py-14"
>
	<h1
		class="xl:text-10xl md:text-9xl text-7xl tracking-tight font-bold font-condensed xl:leading-[165px] mb-12"
	>
		Isabella Oliveira <br />
		<span class="italic text-light tracking-tighter font-thin font-roboto"
			>Software Developer</span
		>
	</h1>
	<ul class="flex flex-col md:gap-3.75 gap-6">
		<LiLink href="#portifolio" title={portifolio} />
		<LiLink href="#about-me" title={aboutMe} />
		<LiLink href="#contact-me" title={contactMe} />
	</ul>
</header>
