---
interface Props {
    title: string
    href: string
}

const { title, href } = Astro.props
---

<li
    class="text-green hover:pl-8 transition-all capitalize xl:h-[100px] font-condensed italic md:text-7xl xl:text-8xl text-6xl"
>
    <a href={href}>{title}</a>
</li>
