---
export interface link {
    displayName: string;
    url: string;
}
interface Props {
    link: link;
}
const { link } = Astro.props;
---

<a
    href={link.url}
    class="font-mono text-2xl leading-title-tight tracking-tight px-8 py-4 text-dark capitalize bg-light rounded-2xl"
    target="_blank"
    rel="noopener noreferrer"
>
    {link.displayName}
</a>
